@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.bg-color {
    background-image: url("https://ik.imagekit.io/4z8covdo9/Full stack/todolistbg.png?updatedAt=1700761069523");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 400px;
    font-family: "Roboto", sans-serif;
    background-position: center;
   
    
}


.heading {
    color: white;
    
}

.para {
    color: white;
}

.pa {
    color: white;
    text-align: center;
}

.p {
    text-align: center;
}

.btn {
    background-color: orange;
    align-items: center;
}

.paragraph {
    color: white;
    text-decoration: underline;
}

.ma {
    display: flex;
    justify-content: center;
    align-items: center;
}